crontab_contenido = (
    "# Apagar el bot a las 12:30 AM Cuba (UTC-4)\n"
    "30 4 * * * pkill -f \"python bot.py\"\n"
    "\n"
    "# Encender el bot a las 7:49 AM Cuba (UTC-4)\n"
    "49 11 * * * cd /app && python bot.py &\n"
    "\n"
)
